<div class ="about">
	<div class = "front row">
		<div class = "container">
				<h1>Create and share Stories</h1>
				<a class = "btn" href=#>Learn More</a>
		</div>
	</div>
</div>

<div class ="supporting">
	<div class = "row">
		<div class = "container">
				<h1>No more sorting through photos</h1>
				<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
				<a class = "btn" href=#>Sign Up</a>
		</div>
	</div>
</div>



