<div class ="main">
	<div id="sidr">
	  <!-- Your content -->
	  <ul>
	    <li><a href="#">List 1</a></li>
	    <li class="active"><a href="#">List 2</a></li>
	    <li><a href="#">List 3</a></li>
	  </ul>
	</div>
	<div class = "menu row">
		<div class = "container">
			<a href="#sidr"><%= image_tag("http://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg", :id =>"simple-menu") %></a>
		</div>
	</div>

	<div class = "front row">
		<div class = "container">
				<h1>Create and share Stories</h1>
				<a class = "btn" href=#>Learn More</a>
		</div>
	</div>
</div>
<div class ="supporting">
	<div class = "row">
		<div class = "container">
				<h1>Relive and share your adventures</h1>
				<h3>Stories automatically creates a digital journal filled with only your best photos.</h3>
		</div>
	</div>
</div>
<div class ="supporting_pic">
	<div class = "row">
	</div>
</div>	
<div class ="discover">
	<div class = "row">
		<div class = "container">
				<h1>Discover Stories</h1>
				<a class = "btn" href=#>Learn More</a>
		</div>
	</div>
</div>	
<div class = "footer">
	<h5>A SHUTTERBUGG PROJECT</h5>
</div>

